* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.end {
    width: 70%;
}

.num {
    width: calc(30% - 4px);
}

input {
    padding: 8px 10px;
    margin: 20px 0;
}

.uf {
    width:20%;
}

.erro {
    color: red;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

#cep.ativo {
    border: 1px solid red;   
}

.loader {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader.ativo {
    display: flex;
}

.loading {
    animation: is-rotating 1s infinite;
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    border-radius: 50%;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}